*,
    *::after,*::before,
    *::after,*::before, {
    box-sizing: border-box;

}
container {
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


main {
    min-height: 80 vh;

}
nav ul {
    list-style-type: none;

}

nav a {
    text-decoration: none;
    color: unset;
    
}
/*******************************************************************************/

nav.menu1 li {
    display: inline-block;
    border-right: solid lightgrey;
    
}
nav.menu1 li:first-of-type {
    border-left: solid lightgrey;
}
    
nav{
    margin-bottom: 9999
}
nav.menu1 a {
    text-decoration: none;
    color: unset;
    padding: 3rem;  
}
/*  menu 2 basado en display*/

nav.menu2 {

    background-color: salmon;
    /*overflow: hidden;*/

}
nav.menu2 ul::after {
    content: "";
    display: block;
    clear: both;
}
/*centra lista*/
nav.menu2 ul{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
nav.menu2 li {
    width: 20%;
    float: left;
}
/** para centrar es tex-aling*/

nav.menu2 a {
    display: block;
    padding: 1rem 1rem;
    text-align: center;
    border: solid gainsboro;
    white-space: nowrap;

}

nav.menu2 a:hover {
    background-color: maroon;
    color: salmon; 
    font-size: 1.3rem;

}
