@import "extras.css";


/*especificidad: 
a- son valores en en linea
b  id
c  class u otros atributos
d  etiquetas

a.b.c.d.

/*Selector mediante id : no suelen usarse */

 #p1 {color: aliceblue;}


 /*selector mediante class : LOS MAS IMPORTANTES 
 Especificidad : 0.0.1.0*/
 .p1 {color:chartreuse;}

/*Selector mediante class : LOS MAS IMPORTANTES */
.P2 {color: chartreuse;}

/*selector mediante etiqueta 
especificidad:0.0.0.1*/
p {color: maroon;}


