body{

    font-family: 'Saira Condensed', sans-serif;  
}
ol, ul {list-style-type: square; }
table {

    border-collapse: collapse;
}

    td {
        border: 1px solid #ccc;

    }

    th {
        background: #444;
        color: #fff;
    }

td, th {
    text-align: center;
    padding: 0.5em;


}


